<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:'red'"> {{name}}  -  Anamnesis</h1>
    <h2>Doenças:sim</h2>
    <h2 style="color: red;">allergias:não</h2>
    <h2>Medicação continua:não</h2>
    <h2>Cirurgia:sim</h2>
    <h2>Alcoolátra:não</h2>
    <h2>Usuário de droga:não</h2>
    <h2>Fumante:não</h2>
    <h2>Alcoolátra:não</h2>
    <h2>Faz atividades fisicas:não</h2>
    <h2>Diabetes:não</h2>
    <h2>hipertensão:não</h2>

</body>
</html>