<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{name}}  -  Anamnesis</h1>

    {% if  anamnesis.allergy %}
        <h2>Alergias</h2>
        <ul>
            {% for allergie in user.allergy %}
            <li>{{allergie.name}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if  anamnesis.continous_medication %}
    <h2>Medicações continuas</h2>
    <ul>
        {% for medication in user.medications %}
        <li>{{medication.name}}</li>
        {% endfor %}
    </ul>
    {% endif %}


</body>
</body>
</body>
</html>